.users-main__footer
  %ul
    %li
      =link_to '#' do
        プライバシーポリシー
    %li
      =link_to '#' do
        メルカリ利用規約
    %li
      =link_to '#' do
        特定商取引に関する表記
  =image_tag('bottom-logo.png')
  %p
    %small
      © 2019 Mercari
