
.my-container
  .my-container-main
    .my-container-main__center
      .logout
        %a.logout-button
          %input.button{type: 'button',value: 'ログアウト'}
    =render partial: 'users/shared/users_sidebar'
