- flash.each do |key, value|
  = content_tag(:div, value, class: "flash flash-#{key}")
.sub-header
  %h1
    = link_to "/" do
      = image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2855175014")
