.categories_index{
  width:700px;
  margin:40px auto;
  a{
    color:#0099e8;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
    opacity:0.5;
  }
  .main-container{
    margin:0 100px 20px 0;
    .list-block{
      &__title{
        font-size:25px;
        margin: 0 0 20px 0;
      }
      &__menu{
        display:inline-block;
        background-color: white;
        margin:0 10px 10px 0;
        padding: 10px 25px;
        border-radius: 5px;
      }
      &__menu:hover{
        background-color:#ea352d;
        color:white;
        cursor:pointer;
      }
    }
  }
}
