.item-card
  .item-card__image
    =image_tag("sample_item.jpg")
  .item-card__information
    .item-card__information__name パーカー
    .item-card__information__detail
      .price ¥12,700
      .likes
        //=fa_icon("heart")
        15
      .clearfix
      .tax (税込)
