.item-card
  .item-card__image
    %img{src:'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m78268563405_1.jpg?1549456205'}
  .item-card__information
    .item-card__information__name パーカー
    .item-card__information__detail
      .price ¥12,700
      .likes
      .clearfix
      .tax (税込)
