.item-show
  .item-show-main
    %h2.item-show-main-name NIKE 中綿入り ナイロンジャケット 90's
    .item-show-main__container
      .item-show-main__container--image
        .top-image
        .bottom-image
          .bottom-image-first
          .bottom-image-second
          .bottom-image-third
          .bottom-image-fourth
      .item-show-main__container--table
        %table
          %tbody
            %tr
              %th 出品者
              %td
                %a{href: "/"} 出品者の評価
                .rate-container
                  .rate-container-box
                    .good-icon
                      %i.fa.fa-smile-o
                    .good.int  151
                  .rate-container-box
                    .normal-icon
                      %i.fa.fa-meh-o
                    .normal.int 2
                  .rate-container-box
                    .bad-icon
                      %i.fa.fa-frown-o
                    .bad.int 0
            %tr
              %th カテゴリー
              %td
                %a{href: "/"} メンズ
                %br
                %a{href: "/"} ＞ジャケット/アウター
                %br
                %a{href: "/"} ＞ナイロンジャケット
            %tr
              %th ブランド
              %td
                %a{href: "/"} ナイキ
            %tr
              %th 商品のサイズ
              %td L
            %tr
              %th 商品の状態
              %td 目立った傷や汚れなし
            %tr
              %th 配送料の負担
              %td 着払い(購入者負担)
            %tr
              %th 配送の方法
              %td らくらくメルカリ便
            %tr
              %th 配送元地域
              %td
                %a{href: "/"} 京都府
            %tr
              %th 発送日の目安
              %td 2~3日で発送
    .item-show-main__price
      .price ¥ 11,800
      .tax (税込)
      .shipping-fee 送料込み
    .item-show-main__buy-btn
      %a 購入画面に進む
    .item-show-main__description
      %p 両面、ビッグスウォッシュです。
      %br【サイズ】
      %br 着丈 65cm
      %br 身幅 63cm
      %br 肩幅 62cm
    .item-show-main__other
      .left-btn
        %a{href: "/"}
          %i.fa.fa-heart-o いいね！
      .center-btn
        %a{href: "/"}
          %i.fa.fa-flag-o 不適切な商品の報告
      .right-btn
        %a{href: "/"}
          %i.fa.fa-lock あんしん・あんぜんへの取り組み
  .item-show-comment
    %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %form
      %textarea{cols: "40",rows: "4"}
      %button{type: "submit"}
        %span コメントする
  .item-show-link
    .item-show-link__prev
      %a{href: "/"} ＜ジャケット
    .item-show-link__next
      %a{href: "/"} 大人気！リップグロス容器＞
  .item-show-sns
    .item-show-sns-container
      %ul
        %li
          %i.fa.fa-facebook-square
        %li
          %i.fa.fa-twitter-square
        %li
          %i.fa.fa-pinterest-square
