= render partial:'shared/subHeader'
.item-buy
  .item-buy-container
    .item-buy-container__title
      %h1 購入を確定しますか？
    .item-buy-container__main
      .item-buy-container__main-body
        .item-image
          %img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m64038234554_1.jpg?1551520024"}
        %p.name Supreme キャップ 7 4/1 ブラック ニューエラ
        .item-price
          %h3 ¥ 14,500
          %span 送料込み
        .item-point ポイントはありません
        .item-all-price
          .item-all-price__left 支払い金額
          .item-all-price__right ¥ 14,500
        %p.help 配送先と支払い方法の入力を完了してください。
        %form
          %button.buy-btn{type: "submit"} 購入する
    .item-buy-container__delivery
      .item-buy-container__delivery-body
        %h3 配送先
        %address
          〒000-0000
          %br/
          東京都渋谷区
          円山町1111
          %br/
          鈴木一郎
        .change-address
          = link_to "変更する >","/"
    .item-buy-container__fee
      .item-buy-container__fee-body
        %h3 支払方法
        .fee-method /
        .change-address
          = link_to "変更する >","/"
= render partial:'shared/subFooter'
