= render partial:'shared/header'
- @items.each do |item|
  =link_to item_path(item.id),class:'search-item-card' do
    .item-card__image
      =image_tag(item.item_images[0].image)
    .item-card__information
      .item-card__information__name=item.name
      .item-card__information__detail
        .price="¥#{item.price.to_s(:delimited)}"
        -# like機能実装次第追加する
        .likes
          =fa_icon("heart-o")
          15
        .clearfix
        .tax (税込)
