// ======header部分========================
.items-header{
  display:block;
  position:relative;
  z-index:1001;
  background:#fff;
  ul{
    list-style:none;
  }
  a{
    text-decoration:none;
    font-size:14px;
    color:#333;
  }

  img{
    vertical-align: middle;
  }
  .text-center{
    text-align:center;
}
  .clearfix{
    clear:both;
  }


  .inner{
    width:1020px;
    margin: 0 auto;
    padding: 8px 0 0;
    .clearfix{
      .l-left{
        float:left;
      }
      .pc-header-form.l-right{
        position:relative;
        width: calc(100% - (134px + 16px));
        float:right;
        .input-default{
          width:100%;
          height:36px;
          padding:9px 32px 9px 8px;
          background: #fafafa;
          transition:all;           // コレ何？？
        }
        .icon-search{
          position:absolute;
          top:0;
          right: 0;
          width:36px;
          line-height:36px;
          cursor:pointer;
          text-align:center;
        }
      }
    }
    .pc-header-nav-box{
      margin:8px 0 0;
      .l-left{
        float:left;
        .pc-header-nav{
          // font-size: :0;
          li{
            position:relative;
            display:inline-block;
            padding-right: 16px;
            h2{
              .pc-header-nav-root{
                position:relative;     //??いる？？
                height:38px;
                line-height:32px;
              }
            }
            .large-category-wrap{   //カテゴリ大
              position:absolute;
              top:38px;
              z-index:1000;
              background:#fff;
              .large-category{
                display:none;                //javascriptはコチラ
                width:224px;
                padding:0;
                h3{
                  font-weight: 400;
                  font-size:14px;
                  a{
                    margin:0 16px;
                    line-height:44px;
                  }
                }
                .middle-category-wrap{  //カテゴリ中
                  position:absolute;
                  top:0;
                  left:224px;
                  bottom: 0;
                  background:#fff;
                  box-shadow:1px 0 0 0 #eee;
                  .middle-category{
                    display:none;                //javascriptはコチラ
                    width:224px;
                    a{
                      padding:8px 16px;
                    }
                    .small-category-wrap{    //カテゴリ小
                      position:absolute;
                      top:0;
                      left:224px;
                      bottom:0;
                      background: #fff;
                      box-shadow: 1px 0 0 0 #eee;
                      .small-category{
                        display:none;             //javascript
                        width: 320px;
                        a{
                          padding:8px 16px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .l-right{
        float:right;
        .pc-header-user-nav{                     //右側
          a{
            display:block;
            font-size: 14px;
            color:#333;
          }
          font-size:0;
          li{
            position:relative;
            display:inline-block;
            .pc-header-user-nav-root{            //マイページ
              position:relative;
              height:38px;
              line-height: 32px;
              figure{
                line-height:0;
              }
              // div:not([class]){
              //   display:inline-block;
              //   margin: 0 0 0 8px;
              //   font-size:14px;
              //   vertical-align:middle;
              // }                     //表現不明(上でdiv:not([class[)で適用させたがおかしい)
            }
            .pc-header-user-box.pc-header-mypage-box{
              position:absolute;
              left:0;
              top:38px;
              z-index: 1;
              display:none;            //javascript
              width:320px;
              background:#fff;
              box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
              font-size:14px;
              .pc-header-mypage-state.text-center{
                figure{
                  padding:28px 0 0;
                  height:80px;
                  background:#dddddd;                 //コレは仮多分ユーザーごとに設定できる
                  background-repeat: no-repeat;
                  background-size:320px 80px;
                                                      //ココのdivは変更する必要あり
                  figcaption{
                    margin:8px 0 0;
                    padding:0 8px;
                    font-size:16px;
                  }
                }
                .pc-header-mypage-review-listing{
                  margin:40px 0 0;
                  padding:8px 8px 0;
                  font-size:0;
                  text-align:center;
                  li{
                    display:inline-block;
                    font-size:14px;
                    a{
                      display:block;
                      font-size:14px;
                      color:#333;
                    }
                  }
                }
                .pc-header-mypage-sales-point{
                  width: 300px;
                  margin:16px auto;
                  background: #fafafa;
                  border:1px solid #eee;
                  li:first-child{
                    a{
                      padding:0 8px;
                      line-height: 40px
                    }
                  }
                  li{
                    border-top:1px solid #eee;
                  }
                }
              }
              .mypage-nav-list{
                li:first-child{
                  border:0;
                  .mypage-nav-list-item{
                    position:relative;
                    min-height:48px;
                    padding:16px;
                    background: #fff;
                  }
                }
                li{
                  border-top:1px solid #eee;
                  .mypage-nav-list-item{
                    position:relative;
                    min-height:48px;
                    padding:16px;
                    background: #fff;
                  }
                }
              }
            }
          }
          li{
            position:relative;
            display:inline-block;
            padding: 0 0 0 16px;
            vertical-align: middle;
            .pc-header-nav-root{
              position:relative;
              height:38px;
              line-height:32px;
              .icon-bell{
                font-size:17px;
              }
            }
            .pc-header-user-box.pc-header-notification-box.mypage-item-list{
              left:50%;
              transform: translate(-50%,0);                                //これの後ろ作り込み必要

              li{
                border-bottom:1px solid #eee;
                position:relative;
                .mypage-item-link{
                  min-height:80px;
                  padding:16px;
                }
              }
            }
          }
          li{                       //やることリスト(上と共通で問題なしか？？)
            position:relative;
            display:inline-block;
            padding: 0 0 0 16px;
            vertical-align: middle;

          }
        }

      }
    }
  }
}
