.my-container{
  &-main{
    &__center{
      box-sizing: border-box;
      width: 700px;
      padding: 64px;
      line-height: 52px;
      vertical-align: middle;
      .add-card{
        margin: 0;
        &-main{
          &__header{
            h3{
              margin: -50px;
              text-align: center;
              background-color: white;
              box-sizing: border-box;
              height: 50px;
              font-size: 22px;
              font-weight: 600;
              border-bottom: solid 1px #f5f5f5;
            }
          }
          &__content{
            background-color: white;
            padding: 40px 80px;
            h4{
              margin-top: 40px;
            }
            button{
              width: 100%;
              line-height: 48px;
              background-color: red;
              font-size: 14px;
              color: white;
              cursor: pointer;
            }
          }
        }
        a{
          color: #66CCFEFF;
          text-decoration: none;
          float: right;
        }
      }
    }
  }
}
