.item-show{
  padding:30px 0;
  height:90%;
  background-color:rgb(245,245,245);
  &-main{
    width:42.5%;
    height:880px;
    padding:24px 40px 40px;
    margin:0 auto ;
    background-color:white;
    &-name{
      height:50px;
      font-size: 1.4em;
      font-weight: 800;
      text-align: center;
      line-height: 50px;
    }
    &__container{
      width:100%;
      height:375px;
      &--image{
        width:300px;
        height:375px;
        float:left;
        .top-image{
          width:100%;
          height:300px;
          background-size: cover;
          background-image:url(m82657873861_1.jpg);
        }
        .bottom-image{
          width:100%;
          height:75px;
          &-first{
            width:25%;
            height:100%;
            float:left;
            background-size: cover;
            background-image:url(m82657873861_1.jpg);
          }
          &-second{
            width:25%;
            height:100%;
            float:left;
            background-size: cover;
            background-image:url(m82657873861_2.jpg);
          }
          &-third{
            width:25%;
            height:100%;
            float:left;
            background-size: cover;
            background-image:url(m82657873861_3.jpg);
          }
          &-fourth{
            width:25%;
            height:100%;
            float:left;
            background-size: cover;
            background-image:url(m82657873861_4.jpg);
          }
        }
      }
      &--table{
        width:48%;
        height:100%;
        float:right;
        table{
          width:100%;
          height:100%;
          font-size: 0.9em;
          th{
            width:40%;
            display: table-cell;
            vertical-align: middle;
            text-align:left;
            border:1px solid #f5f5f5;
            padding:4px;
            background-color:rgb(250,250,250);
          }
          td{
            width:60%;
            padding:4px;
            border:1px solid #f5f5f5;
            a{
              color: #0099e8;
              font-size:0.9em;
            }
            .rate-container{
              width:100%;
              height:20px;
              &-box{
                width:33%;
                height:100%;
                float:left;
                .fa{
                  float:left;
                  line-height:20px;
                }
                .fa-smile-o{
                  color:#ef5185;
                }
                .fa-meh-o{
                  color:#ffa600;
                }
                .fa-frown-o{
                  color:#51b6db;
                }
                .int{
                  width:30px;
                  float:left;
                  padding-left: 3px;
                  font-size:0.8em;
                  line-height:20px;
                }
              }
            }
          }
        }
      }
    }
    &__price{
      width:100%;
      height:60px;
      margin-top: 20px;
      .price{
        width:57%;
        height:100%;
        float:left;
        text-align:right;
        font-size:45px;
        font-weight:800;
      }
      .tax{
        width:8%;
        height:30%;
        float:left;
        margin-top:40px;
        text-align:right;
        font-size:0.5em;
      }
      .shipping-fee{
        width:30%;
        height:40%;
        float:left;
        text-align:left;
        margin:33px 0 0 5px;
      }
    }
    &__buy-btn{
      width:100%;
      height:60px;
      margin-top:15px;
      background-color:#ea352d;
      a{
        width:100%;
        height:100%;
        font-size:1.5em;
        line-height:60px;
        text-align:center;
        display:block;
        color:white;
      }
    }
    &__description{
      width:100%;
      padding-top:40px;
    }
    &__other{
      width:100%;
      height:35px;
      padding-top:15px;
      .left-btn{
        width:20%;
        height:100%;
        float:left;
         a{
          width:80%;
          font-size:0.8em;
          color:black;
          display:block;
          border-radius:40px;
          line-height:35px;
          text-align:center;
          background-color:rgb(245,245,245)
        }
      }
      .center-btn{
        width:30%;
        height:100%;
        float:left;
         a{
          width:100%;
          font-size:0.8em;
          color:black;
          display:block;
          border-radius:40px;
          line-height:35px;
          text-align:center;
          background-color:rgb(245,245,245)
        }
      }
      .right-btn{
        width:40%;
        height:100%;
        float:right;
        a{
          width:100%;
          font-size:0.9em;
          color: #0099e8;
          line-height:35px;
        }
      }
    }
  }
  &-comment{
    width:44.5%;
    height:220px;
    padding:24px ;
    margin:10px auto ;
    background-color:white;
    p{
      font-size:0.8em;
      padding:5px;
      background-color:rgb(252,244,222);
    }
    form{
      width:100%;
      height:75%;
      textarea{
        width:100%;
        height:60%;
        margin: 10px 0;
        border-color:rgb(204,204,204);
      }
      button{
        width:100%;
        height:30%;
        background-color:rgb(170,170,170);
        span{
          color:white;
          font-size:1.2em;
        }
      }
    }
  }
  &-link{
    width:48%;
    height:30px;
    margin: 20px auto;
    &__prev{
      width:50%;
      height:100%;
      float:left;
    }
    &__next{
      width:50%;
      height:100%;
      float:right;
      text-align: right;
    }
    a{
      font-size:0.9em;
      color: #0099e8;
    }
  }
  &-sns{
    width:48%;
    height:150px;
    margin: 0 auto;
    background-color:white;
    &-container{
      width:23%;
      height:50px;
      margin:0 auto;
      padding-top:70px;
      li{
        display:inline-block;
        i{
          padding-right: 5px;
          font-size:3em;
        }
        .fa-facebook-square{
          color:rgb(60,82,129)
        }
        .fa-twitter-square{
          color:rgb(107,156,197)
        }
        .fa-pinterest-square{
          color:rgb(157,50,47)
        }
      }
    }
  }
}
