.sign-in{
  width: 100%;
  height: 100%;
  &-main{
    text-align: center;
    &__header{
      width: 100%;
      height: 128px;
      line-height: 128px;
      img{
        vertical-align: middle;
        height: 50px;
        width: 216px;
      }
    }
    &__top{
      box-sizing: border-box;
      padding: 32px 64px 32px;
      margin: 0 auto;
      width: 700px;
      background-color: white;
      border-bottom: solid 1px #f5f5f5;
      h6{
        font-size: 22px;
        font-weight: 600;
      }
       a{
        font-size: 14px;
        color: black;
        margin-top: 16px;
        line-height: 48px;
        text-align: center;
        display: block;
        width: 320px;
        height: 50px;
        text-decoration: none;
        .link-registration{
          background-color: #66CCFEFF;
        }
      }
    }
    &__api{
      box-sizing: border-box;
      padding: 24px 64px 32px;
      margin: 0 auto;
      width: 700px;
      background-color: white;
      a{
        margin: 0 auto;
        font-size: 14px;
        color: black;
        line-height: 48px;
        text-align: center;
        display: block;
        width: 320px;
        height: 50px;
        text-decoration: none;
        .email{
          background-color: #B3B3B2FF;
          i{
            position: absolute;
            background-color: white;
            color: rgb(56, 81, 133);
            top: 35%;
            left: 16px;
            font-size: 18px;
          }
        }
        .facebook{
          position: relative;
          margin: 16px 0 0;
          border: solid 1px black;
          background-color: #385185;
          color: #fff;
          i{
            position: absolute;
            background-color: white;
            color: rgb(56, 81, 133);
            top: 35%;
            left: 16px;
            font-size: 18px;
          }
        }
        .google{
          margin: 16px 0 0;
          position: relative;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(151, 151, 151);
          border-image: initial;
          i{
            position: absolute;
            top: 35%;
            left: 16px;
            font-size: 18px;
          }
        }
      }
    }
    &__form{
      box-sizing: border-box;
      padding: 24px 64px 32px;
      margin: 0 auto;
      width: 700px;
      background-color: white;
      form{
        #user_email{
          width: 100%;
          box-sizing: border-box;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        #user_password{
          margin-top: 25px;
          width: 100%;
          box-sizing: border-box;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        #checkmark{
          box-sizing: border-box;
          height: 78px;
          line-height: 78px;
          vertical-align: middle;
          width: 100%;
          margin-top: 25px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: #f5f5f5;
          i{
            color: gray;
          }
        }
        input[type="submit"]{
          margin-top: 25px;
          height: 48px;
          width: 326px;
          font-size: 14px;
          background-color: red;
          color: white;
        }
        a{
          display: inline-block;
          margin-top: 30px;
          text-decoration: none;
          color: #0099e8;
          &:hover{
            color: #b3d4fc;
            text-decoration: underline;
          }
        }
      }
    }
    &__footer{
      width: 456px;
      height: 220px;
      text-align: center;
      margin: 0px auto;
      padding: 40px 0px;
      ul{
        li{
          margin-left: 16px;
          font-size: 12px;
          display: inline-block;
          a{
            font-size: 12px;
            color: black;
            text-decoration: none;
            width: 80px;
            height: 65px;
            margin: 40px auto 0px;
          }
        }
      }
      img{
        height: 65px;
        margin: 40px auto 0px;
      }
      p{
        small{
          font-size: 12px;
        }
      }
    }
  }
}
