.register{
  height: 100%;
  margin-bottom: 50px;
  &-header{
    text-align: center;
    img{
      display: inline-block;
      margin-top: 40px;
      width: 185px;
      height: 50px;
    }
    &__nav{
      display: inline-block;
      width: 600px;
      .progressbar {
        width: 100%;
        display: inline-block;
        margin-left: 44px;
        padding:40px 0 0;
        counter-reset: step;
        z-index: 0;
        position: relative;
        li{
          list-style-type: none;
          width: 20%;
          float: left;
          font-size: 12px;
          position: relative;
          text-align: center;
          color: #aaa;
          &:before{
            width: 20px;
            height: 20px;
            content: counter(step);
            counter-increment: step;
            line-height: 20px;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: #eee;
          }
          &:after{
            width: 100%;
            height: 2px;
            content: '';
            position: absolute;
            background-color: #eee;
            top: 15px;
            left: -50%;
            z-index: -1;
          }
          &:first-child{
            content: none;
            &:after{
              height: 0;
            }
          }
        }
        .active{
          color: green;
          &:before{
            background-color: #55b776;
            color:#fff;
          }
          & + li:after {
          background-color: #55b776;
          }
        }
      }
    }
  }
  &-main{
    width:700px;
    margin: 56px auto 0;
    background-color: white;
    text-align: center;
    h2{
      padding: 32px 16px;
      font-size: 22px;
      border-bottom: 1px solid #f5f5f5
    }
    &__content{
      padding: 24px 64px 64px;
      form{
        margin: 0 126px;
          .field{
            box-sizing: border-box;
            margin-top: 40px;
            height: 70px;
            width: 320px;
            text-align: left;
            label{
              font-size: 14px;
              padding-bottom: 8px;
              font-weight: 600;
              display: inline-block;
            }
            span{
              background: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
              font-size: 12px;
            }
            input{
              box-sizing: border-box;
              border: 1px solid #ccc;
              border-radius: 4px;
              padding: 10px 16px 8px;
              width: 100%;
              height: 48px;
              line-height: 1.5;
              font-size: 16px;
            }
            select{
              box-sizing: border-box;
              border: 1px solid #ccc;
              border-radius: 4px;
              padding: 10px 16px 8px;
              width: 50%;
              height: 48px;
              line-height: 1.5;
              font-size: 16px;
              background-color: white;
            }
          }
          h3{
            font-weight: 600;
            text-align: left;
            margin-top: 40px;
            font-size: 16px;
          }
          p{
            text-align: left;
            font-size: 14px;
          }
          .last{
              height: 180px;
              span{
                font-size: 14px;
                padding-bottom: 8px;
                font-weight: 600;
                color: black;
                vertical-align: middle;
                background-color: white;
                margin: 0;
                padding: 0;
              }
            }
          }
        .confirm-tel{
          .head{
            font-size: 22px;
            font-weight: 600;
            text-align: center;
            height: 60px;
            border-bottom: solid 1px #f5f5f5;
            line-height: 60px;
            vertical-align: middle;
            }
          &__content{
            .form{
              &__up{
                margin-bottom: 40px;
                h3{
                  font-weight: 600px;
                }
                input[type="text"]{
                  box-sizing: border-box;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  padding: 10px 16px 8px;
                  width: 100%;
                  height: 48px;
                  line-height: 1.5;
                  font-size: 16px;
                }
                input[type="tel"]{
                  box-sizing: border-box;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  padding: 10px 16px 8px;
                  width: 100%;
                  height: 48px;
                  line-height: 1.5;
                  font-size: 16px;
                }
                p{
                  margin-bottom: 40px;
                }
                input[type="submit"]{
                  width: 100%;
                  height: 50px;
                  background-color: red;
                  color: white;
                  font-size: 14px;
                }
              }
              &-middle{

                .up{
                  font-weight: 600;
                }
                .down{
                font-size: 14px;
                margin-bottom: 30px;
                }

                input[type="submit"]{
                  width: 100%;
                  height: 50px;
                  background-color: red;
                  color: white;
                  font-size: 14px;
                  }
                }
              &-under{
                .note{
                  font-weight: 600;
                  margin-top: 80px;
                }
                a{
                  display: block;
                  text-align: left;;
                  color: #0F7FFEFF;
                  text-decoration: none;
                }
                .last{
                  font-size: 14px;
                }
              }
            }
            .actions{
              input[type="submit"]{
                background: #ea352d;
                border: 1px solid #ea352d;
                color: #fff;
                height: 48px;
                line-height: 48px;
                width: 100%;
            }
          }
        }
      }
      #checkmark{
        border:solid 1px gray;
        background-color: #f5f5f5;
        line-height: 60px;
        vertical-align: middle;
        height:60px;
        margin-bottom: 8px;
      }
      .confirm{
        height:45px;
        color: #888;
        margin: 8px 0 0;
        padding-top: 10px;
        line-height: 1.5;
        margin-bottom: 30px;
      }
      .next-text{
        height: 45px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 8px;
      }
      .next_form{
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        height: 48px;
        line-height: 48px;
        width: 100%;
      }
      #user_social_profiles_attributes_0_provider{
        display: none;
      }
      #user_social_profiles_attributes_0_uid{
        display: none;
      }
    }
  }

}
.no-display{
  display: none;
}
.field_with_errors {
    display: inline;
  }
