.users-main__footer{
  width: 456px;
  height: 220px;
  text-align: center;
  margin: 0px auto;
  padding: 40px 0px;
  ul{
    li{
      margin-left: 16px;
      font-size: 12px;
      display: inline-block;
      a{
        color: black;
        text-decoration: none;
        width: 80px;
        height: 65px;
        margin: 40px auto 0px;
      }
    }
  }
  img{
    height: 65px;
    margin: 40px auto 0px;
  }
  p{
    small{
      font-size: 12px;
      }
    }
  }
