.card{
  background-color: white;
  margin: 50px auto 0;
  width: 700px;
  &-main{

    &__header{
      h2{
        text-align: center;
        font-weight: 600;
        font-size: 22px;
        border-bottom: solid 1px #f5f5f5;
        padding: 40px 0;
      }
    }
    &__content{
      padding: 40px 170px;
      margin-top: 40px;
      form{

        label{
          margin-top: 40px;
          font-size: 14px;
          padding-bottom: 8px;
          font-weight: 600;
          display: inline-block;
        }
        span{
          margin-top: 40px;
          background: #ea352d;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: middle;
          font-size: 12px;
        }
        input[type="text"]{
          box-sizing: border-box;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding: 10px 16px 8px;
          width: 100%;
          height: 48px;
          line-height: 1.5;
          font-size: 16px;
        }
        .card-kinds{
          margin-top: 5px;
          li{
            float: left;
            list-style: none;;
            img{
              background-color: white;
              height: 20px;
              width: 50px;
            }
          }
        }
        select{
          box-sizing: border-box;
          border: 1px solid #ccc;
          margin-bottom: 5px;
          border-radius: 4px;
          padding: 10px 16px 8px;
          width: 100%;
          height: 48px;
          line-height: 1.5;
          font-size: 16px;
          background-color: white;
        }
        a{
          color: #66CCFEFF;
          margin-top: 30px;
          text-decoration: none;
          float: right;
        }
        input[type="submit"]{
          margin-top: 40px;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          height: 48px;
          line-height: 48px;
          width: 100%;
        }
      }
    }
  }
}
