= render partial:'shared/header'
.categories_index
  .main-container
    .list-block
      .list-block__title カテゴリー一覧
      -Category.roots.each do |category|
        .list-block__menu{href:"##{category.id}"}=category.name
  =render partial:'categories/l-container',collection:Category.roots,as: :l_category


= render partial:'shared/footer'
