= render partial:'shared/header'
.my-container
  .my-container-main
    .my-container-main__center
      =render partial: "shared/cards/new", locals: {submit_info: "追加する"}
    = render partial: 'users/shared/users_sidebar'
= render partial: 'shared/footer'
