
.sign-up
  .sign-up-main
    .sign-up-main__header
      =image_tag('mercari-logo.png')
    .sign-up-main__content
      %h2 新規会員登録
      .type
        .type-box
          =link_to '#' do
            .email
              =fa_icon('envelope')
              %span
                メールアドレスで登録
          =link_to '#' do
            .facebook
              =fa_icon('facebook')
              %span
                Facebookで登録
          =link_to '#' do
            .google
              =fa_icon('google')
              %span
                Googleで登録
    .sign-up-main__footer
      %ul
        %li
          =link_to '#' do
            プライバシーポリシー
        %li
          =link_to '#' do
            メルカリ利用規約
        %li
          =link_to '#' do
            特定商取引に関する表記
      =image_tag('bottom-logo.png')
      %p
        %small
          © 2019 Mercari
