.sign-in
  .sign-in-main
    .sign-in-main__header
    .sign-in-main__content
      .h2 新規会員登録
      .type
        .type__email
          =image_tag('#')
          %span
            メールアドレスで登録
        .type__facebook
          =image_tag('#')
          %span
            Facebookで登録
        .type__google
          =image_tag('#')
          %span
            Googleで登録
    .sign-in-main__footer
      %a
      %a
      %a
      =image_tag('mercari-logo.png')
      %small
