=render partial: 'users/shared/users_register'
.confirm-tel
  %h3.head 電話番号確認
  .confirm-tel__content
    =form_tag('#',class: 'form') do
      .form__up
        %h3 認証番号
        =text_field :user, :tel,placeholder: '認証して完了'
        %p SMSで届いた番号を入力してください
        =submit_tag '認証して完了'
      .form-middle


        %p.up 30秒たっても番号が届かない方へ
        %p.down 電話で認証番号を聞くこともできます。
        =submit_tag '電話で認証番号を聞く（通話無料）'
      .form-under
        %p.note
          ※認証番号を再送することもできます。もう一度電話番号を入力してください。
        =link_to '電話番号から再入力する','#'
        %p.last
          SMSが届かない場合はSMS受信設定を確認してください
=render partial: 'users/shared/footer'
